<div class="section service-section-1">
    <div class="container">
        
        <div class="row mb-5">
            <div class="col-lg-6 mx-auto text-center">
                <div class="heading-content" data-aos="fade-up"> 
                    <h2 class="heading">Meet Our Team</h2>
                </div>    
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <a href="#" class="person text-center">
                    <img src="static/images/person_1.jpg" alt="Image" class="img-fluid mb-4">
                    <h2 class="mb-3 fw-bolder">陳儒萱 (組長)</h2>
                    <h3 class="text-muted">資料處理</h3>
                    <h3 class="text-muted">模型預測</h3>
                    <h3 class="text-muted">視覺化</h3>
                    <br>
                </a>
            </div>
            <div class="col-lg-3">
                <a href="#" class="person text-center">
                    <img src="static/images/person_2.jpg" alt="Image" class="img-fluid mb-4">
                    <h2 class="mb-3 fw-bolder">詹森</h3>
                    <h3 class="text-muted">網路爬蟲</h3>
                    <h3 class="text-muted">資料處理</h3>
                    <h3 class="text-muted">模型預測</h3>
                </a>
            </div>
            <div class="col-lg-3">
                <a href="#" class="person text-center">
                    <img src="static/images/person_3.jpg" alt="Image" class="img-fluid mb-4">
                    <h2 class="mb-3 fw-bolder">邱乙展</h2>
                    <h3 class="text-muted">網路爬蟲</h3>
                    <h3 class="text-muted">資料處理</h3>
                    <h3 class="text-muted">模型預則</h3>
                </a>
            </div>
            <div class="col-lg-3">
                <a href="#" class="person text-center">
                    <img src="static/images/person_2.jpg" alt="Image" class="img-fluid mb-4">
                    <h2 class="mb-3 fw-bolder">李柏緯</h2>
                    <h3 class="text-muted">資料處理</h3>
                    <h3 class="text-muted">模型預則</h3>
                    <h3 class="text-muted">視覺化</h3>
                </a>
            </div>
            <div class="col-lg-3">
                <a href="#" class="person text-center">
                    <img src="static/images/person_1.jpg" alt="Image" class="img-fluid mb-4">
                    <h2 class="mb-3 fw-bolder">許寅延</h2>
                    <h3 class="text-muted">環境建置</h3>
                    <h3 class="text-muted">資料處理</h3>
                    <h3 class="text-muted">模型預則</h3>
                    <h3 class="text-muted">視覺化</h3>
                </a>
            </div>
            <div class="col-lg-3">
                <a href="#" class="person text-center">
                    <img src="static/images/person_2.jpg" alt="Image" class="img-fluid mb-4">
                    <h2 class="mb-3 fw-bolder">吳曉亭</h2>
                    <h3 class="text-muted">網路爬蟲</h3>
                    <h3 class="text-muted">資料處理</h3>
                    <h3 class="text-muted">模型預測</h3>
                </a>
            </div>
            <div class="col-lg-3">
                <a href="#" class="person text-center">
                    <img src="static/images/person_3.jpg" alt="Image" class="img-fluid mb-4">
                    <h2 class="mb-3 fw-bolder">洪嘉宏</h2>
                    <h3 class="text-muted">網路爬蟲</h3>
                    <h3 class="text-muted">資料處理</h3>
                    <h3 class="text-muted">模型預則</h3>
                </a>
            </div>
        </div>
    </div>
</div>